@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* globol */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;

}
a , li {
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}
img{
    max-width: 100%;
    height: auto;
}

/* conteiner */

.container{
    width: 100%;
    max-width: 1850px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* main_content */
.main_content{
    flex-grow: 1;
}



/* Header */

.header {
    border-bottom: #EBEEF0 1px solid;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    
}
.site-header {
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu_list {
    display: flex;
}
.nav-menu_item {
    margin-right: 17px;
}
.nav-menu_link ,.nav-info_link {
    color: #6C6F71;
    transition: all 1s;
}
.nav-info_list {
    display: flex;
    align-items: center;
}
.nav-info_item {
    margin-right: 20px;
}
.nav-info_link {
}
.nav-info_button {
    background: #F2F6FC;
    border: 0px;
    padding: 10px;
    color: #186FD4;

}

.nav-menu_link:hover ,.nav-info_link:hover {
    color: #186FD4;
    
}